<h2><%= @song.title %></h2>
<%= link_to "edit", edit_song_path(@song) %>
<p>by: <%= @song.artist_name %></p>
<br>
<p>genre: <%= @song.genre %></p>
<br>

<%= form_tag people_path(@song.id), method: "delete" %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>
